.about{
    display: block;
    margin-top: 40px;
   
  
}

.about-subtitle{
    display: flex;
    justify-content: center;
}
.about-subtitle span{
    color: brown;
}
.abt{
    display: flex;
    align-items: center;
    
    justify-content: center;
    
}
.about-container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
}
.about-image-container{
    display: flex;
    padding: 0;
    margin-right: 20px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    max-width: 500px;
      
}
.about-content p{
    text-align: justify;
    
 }
.about-content{
    
    max-width: 400px;
}

.about-image-container img{
    width: 400px;
    height: 430px;
   
}
@media only screen and (max-width: 768px) {
    .about-container{
        display: block;
        font-size: 15px;
    }
    .about-content{
    
       
    }
    .about-image-container{
        margin-right: 0px;
    }
    .about-subtitle h1{
        font-size: 24px;
    }

}
