.product-cart-container{
    margin-top: 0px;  
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 0px 50px;
}                            
    
.title {
    justify-content: center;
    align-items: center;
    display: flex; 
}

.cart-image-container {
    flex-basis: 40%;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    display: flex; 
}

.cart-image-container img {
    width: 200px;
}
.cart-container{
    flex-basis: 40%;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    display: flex; 
    
   
}

.cart-items {
    
    background-color: beige;  
    padding: 10px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        
}


.description {
    border: solid 0.5px;
    padding: 0px 10px 10px;
    display: block;
    font-size: 14px;
}

.btn {
    border: none;
    background-color: brown;
    padding: 15px 63px;
    transition: 0.5s;
}
.btn:hover{
    background-color: gray;
    color: white;
}

.item-input {
    margin-bottom: 20px;
}
.input-quantity{
    padding: 10px 10px;
}

.item-price {
    background-color: azure;
    padding: 0px 5px 5px;
    border: solid 0.5px;
}
.details-container{
    padding: 0px 20px;
}
.order-details{
    max-width: 100%;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}
.order-details p{
    width: 100%;
}

@media screen and (max-width: 768px) {
    .cart-items{
      width: 100%;
    }
    .input-quantity{
        padding: 5px 5px;
    }
    .cart-image-container img {
        width: 150px;
    }
    

    .btn {
        padding: 10px 60px;
    }
    
    .product-1 {
        display: block;
        
    }
    .order-details h1{
        font-size: 24px;
    }
}

