#contact{
    padding-top: 70px;
}
.subtitle{
    display: flex;
    justify-content: center;
}

.contact-left{
    flex-basis: 45%;
}

.contact-right{
    flex-basis: 50%;
}
.about-me-container, .contact-container{
    background-color: #f9f9ff;
    padding: 0;
    margin-bottom: 0;
}

.contact-left p{
    margin-top: 30px;    
}
.contact-left p i{
    margin-right: 15px;
    color: brown;
    font-size: 15px;
}
.socials{
    margin-top: 30px;
    margin-left: 25px;
}
.socials a{
    margin-right: 15px;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    color: grey;
    transition: transform 0.5s;
}
.socials a:hover{
    color:brown;
    transform: translateY(5px);
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 80%;
    font-size: 14px;
    padding: 15px;
    border-radius: 6px;
    border: solid 0.5px;
    background-color: white;
    outline: none;
    margin: 15px;

}
form .btn{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    margin: 15px;
}
.btn:hover{
    background-color: brown;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 18px 0;
    background: lightpink;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: -15px;
}
nav .fa-solid {
    display: none;
  }
  .row-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 60px;
    background-color: #f9f9ff;
    
}
.row-A {			
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: rgb(119, 119, 119);
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 30px;
}
  
  @media only screen and (max-width: 768px) {
   nav .fa-solid {
      display: block;
      font-size: 25px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
   
    }
  

 

  





