#contact{
    margin-top: 80px;
}
.container{
   
    justify-content: center;
}
.subtitle h1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.row{
    justify-content: center;
    align-items: center;
}

.row-container{
    display: flex; 
    width: 70%;   
}

.contact-left{
    flex-basis: 50%;
}
.contact-right{
    flex-basis: 40%;
}
.contact-left p{
    margin-top: 40px;
    width: 280px;
    word-wrap: break-word;
    
}
.contact-left p i{
    font-size: 14px;
    color: brown;
    margin-right: 15px; 
}
.socials{
    margin-top: 30px;
    margin-left: 30px;
}
.socials a{
    margin-right: 15px;
    color: #ababab;
    font-size: 30px;  
    text-decoration: none;
    display: inline-block;  
    transition: transform 0.5s; 
}
.socials a:hover{
    color: brown;
    transform: translateY(-5px);
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;   
}
.btn:hover{
    background-color: brown;
    color: white;
}
.contact-right form{
    width: 100%;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #faf8f8;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 16px;
    border-radius: 5px;
}
#msg{
    color: green;
    display: block;
    margin-top: 10px;
}
@media only screen and (max-width: 768px) {
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .row-container{
        display: block;
        padding: 0;
    }
    .row{
        margin-top: -20px;
    }
}
